<div class="sign-in developer">
  <p>It looks like you're running the app in development.
    You can alternatively sign in with the developer strategy.</p>

  <%= button_to "Sign in as a developer", "/auth/developer", class: 'btn btn-default btn-lg' %>
</div>
