.mission-form {
  @extend .col-md-8;
  @extend .col-md-offset-2;

  font-size: 14px;
  margin-bottom: 40px;

  header {
    @extend .row;
  }

  h1 {
    @extend .h3;
    @extend .col-md-offset-4;
    @extend .col-md-8;

    margin-top: -20px;
    margin-bottom: 40px;
  }
}

form.mission {
  @extend .row;

  .mission-patch {
    @extend .col-md-4;
    text-align: center;

    label {
      display: block;
      padding: 20px 0 6px;
    }

    button {
      @extend .btn;
      @extend .btn-default;
    }

    .value {
      display: block;
      padding: 5px;
      color: #666;
    }
  }

  .information {
    @extend .col-md-8;
  }

  .form-actions {
    @extend .col-md-8;
    @extend .col-md-offset-4;
    margin-top: 20px;
  }

  .link {
    background: #f6f6f6;
    padding: 10px;
    margin: 8px 0;
    position: relative;
    overflow: auto;
  }
}
