.missions-list {

  ul.grid {
    padding-left: 0;
    position: relative;
    overflow: auto;
    margin: 20px 0;

    li {
      list-style: none;
      float: left;
      width: 250px;
      margin-right: 95px;
      text-align: center;

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      h3 {
        @extend .h4;
        line-height: 1.4;
      }

      img {
        padding-bottom: 10px;
      }

      .team {
        font-size: 16px;
        color: #666;
      }
    }
  }

}
