section.mission {
  font-size: 18px;
  margin-top: -50px; /* Yep, this is nasty */

  header {
    text-align: center;
    padding-bottom: 28px;
    border-bottom: 1px solid #eee;

    h1 {
      @extend .h2;
      margin: 0 0 8px;
    }

    .mission-patch {
      text-align: center;
      margin: 20px auto;
    }

    .metadata {
      font-size: 16px;
      color: #888;

      span {
        display: inline-block;
      }
      span::after {
        padding: 4px 0;
        content: "  •  "
      }
      span:last-child::after {
        content: none;
      }
    }
  }

  article {
    @extend .col-md-8;
    @extend .col-md-offset-2;
  }
  .information {
    padding: 28px;
  }

  .missing {
    font-style: italic;
  }

  .actions {
    padding-top: 28px;
    font-size: 16px;

    li {
      list-style: disc;
    }
  }

}
