header.primary {
  position: absolute;
  top: 0;
  left: 0;

  h1 {
    margin: 0;
    padding: 10px;
    font-size: 15px;

    a {
      color: #fff;
      background: #0078ba;
      padding: 10px;
      letter-spacing: 1px;
      font-weight: 200;
      display: inline-block;
    }
  }

  nav {
    position: absolute;
    right: 0;
    top: 39px;

    ul {
      @extend .nav;
      @extend .nav-pills;
    }
  }
}

.content {
  margin-top: 70px;
  font-size: 20px;
}
