header.primary {
  @extend .row;

  .logo {
    @extend .col-md-2;

    h1 a {
      font-size: 26px;
      color: #fff;
      display: block;
      height: 80px;
      width: 80px;
      background: #0078ba;
      text-align: center;
      padding-top: 26px;
      letter-spacing: 1px;
      font-weight: 200;
      margin-left: 50px;
    }
  }

  .inner {
    @extend .col-md-10;

    position: relative;
  }

  h2 {
    font-weight: normal;
    border-bottom: 1px solid #eee;
    padding: 22px 0;

    a {
      text-decoration: none;
      color: #000;
    }
  }

  nav {
    position: absolute;
    right: 0;
    top: 39px;

    ul {
      @extend .nav;
      @extend .nav-pills;
    }
  }
}

.content {
  font-size: 20px;
}

section h1, h1.page-title {
  @extend .h3;
}
