body {
  background: #fafafa;
}

header.primary {
  position: absolute;
  top: 0;
  left: 0;

  h1 {
    margin: 0;
    padding: 10px;
    font-size: 15px;

    a {
      color: #fff;
      background: #0078ba;
      padding: 10px;
      letter-spacing: 1px;
      font-weight: 200;
      display: inline-block;
      text-decoration: underline;
    }
  }

  nav {
    position: absolute;
    right: 0;
    top: 39px;

    ul {
      @extend .nav;
      @extend .nav-pills;
    }
  }
}

.content {
  margin-top: 70px;
  font-size: 20px;
}

.flash {
  position: absolute;
  top: 0;

  width: 50%;
  background: #ddd;
  font-size: 15px;
  padding: 6px;
  text-align: center;

  /* centres the box */
  left: 1px;
  right: 1px;
  margin: 0 auto;

  &.flash-notice {
    background: #459032;
    color: #fff;
    font-weight: bold;
  }
  &.flash-alert {
    background: #bf1c1c;
    color: #fff;
    font-weight: bold;
  }
}

.user {
  clear: both;
  font-size: 14px;
  text-align: center;

  border-top: 1px solid #ddd;
  margin: 20px 0;
  padding: 20px 0;

  a {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    color: #888;

    &:hover {
      color: #333;
    }
  }
}

.user-with-image {
  display: inline;
  .image {
    display: inline-block;
    border-radius: 50%;
    background: #ccc;
    width: 40px;
    height: 40px;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 14px;
  }
  vertical-align: middle;
}
