<ul class="grid">
  <% missions.each do |mission| %>
  <li>
    <% if mission.mission_patch.present? %>
      <%= link_to mission_path(mission) do %>
        <div class="mission-patch-thumb">
          <%= image_tag mission.mission_patch.thumb_2x.url %>
        </div>
      <% end %>
    <% end %>

    <h3><%= link_to mission.name, mission_path(mission) %></h3>
  </li>
  <% end %>
</ul>
