<ul class="list">
  <% missions.each do |mission| %>
  <li>
    <h3><%= link_to mission.name, mission_path(mission) %></h3>

    <% if mission.team.present? %>
      <p class="team"><%= mission.team.name %></p>
    <% end %>
  </li>
  <% end %>
</ul>
