<section class="missions-list">

  <h1>In progress</h1>
  <%= render partial: "grid", locals: { missions: @in_progress } %>

  <h1>Completed</h1>
  <%= render partial: "grid", locals: { missions: @completed } %> 

  <p>
    <%= link_to "Add a new mission", new_mission_path, class: 'btn btn-primary' %>
  </p>

</section>
