<% content_for :selected_nav_item, :completed %>

<section class="missions-list">

  <%= render partial: "grid", locals: { missions: @completed } %>

  <ul class="actions">
    <li><%= link_to "Add a new mission", new_mission_path %></li>
    <li><%= link_to "See in-progress missions", in_progress_missions_path %></li>
  </ul>

</section>
