<% content_for :selected_nav_item, :completed %>

<section class="missions-list">

  <%= render partial: "grid", locals: { missions: @completed } %>

  <p>
    <%= link_to "Add a new mission", new_mission_path, class: 'btn btn-primary' %>
  </p>

</section>
