<% content_for :head_title, "Add a new mission" %>

<section class="mission-form">

  <header>
    <h1>Add a new mission</h1>
  </header>

  <%= render partial: "form", locals: { mission: @mission } %>

</section>
